<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I am feeling awesome !!!</string>
	<string>I am gonna kill you</string>
	<string>This is not the best day of my life.</string>
	<string>Stop it. Please dont comment on my photos.</string>
	<string>I hate you so much</string>
	<string>You are so pathetic. why dont you die already? who the hell you think you are? I am gonna hit you, you rat.</string>
	<string>This is last day of my life.</string>
	<string>who the hell you think you are? I am gonna hit you, you rat.</string>
	<string>I love to hangout with my friends in this weather.</string>
	<string>I am tired of him. Can anyone bring me poison? </string>
</array>
</plist>
